@import url(base.css);

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

h2 {
    font-size: 34px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.contact-form {
    width: min(100%, 600px);
}

.contact-form input,
.contact-form textarea,
.contact-form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    background-color: #fadcd5;
}

.contact-form label {
    font-size: 18px;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.contact-form button[type="reset"] {
    margin-right: 10px;
    background: #1B0C1A;
    color: #fadcd5;
    font-weight: bold;
}

.contact-form button[type="submit"] {
    background: #fadcd5;
    color: #2d222f;
    font-weight: bold;
}

.contact-form button:hover {
    background: #765d67;
}

@media screen and (max-width:1024px) {
    .contact-form {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .contact-form {
        width: 100%;
    }
}