@import url(base.css);

/* brief introduction */
.aboutMe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 24px;
}

.aboutMe img {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 28px;
    border-radius: 24px;
    box-shadow: 7px 4px 9px 3px rgba(118,93,103,0.97);
    width: 250px;
    max-width: 100%;
    object-fit: cover;
}

.aboutMe article {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 24px;
}

h2 {
    font-size: 34px;
}

.aboutMe h2 {
    letter-spacing: 2px;
}

.aboutMe p {
    font-size: 16px;
    text-align: justify;
    line-height: 1.4;
}

.aboutMe a {
    display: inline-block;
    align-self: flex-end;
    text-decoration: none;
    background: #fadcd5;
    padding: 10px 16px;
    margin-top: 10px;
    color: #2d222f;
    border-radius: 8px;
}

.aboutMe a:hover {
    background: #765d67;
}

.projects {
    margin: 24px;
    display: flex;
    flex-direction: column;
}

.subject {
    margin-bottom: 16px;
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(220px, 1fr));
    gap: 20px;
}

.card {
    border: 1px solid;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-rows: auto 180px 1fr auto;
    gap: 12px;
}

.card p {
    line-height: 1.5;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-span {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
    flex-wrap: wrap;
}

.card-span span {
    background: #765d67;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 14px;
}

.card:hover {
    transition: 0.3s;
    transform: translateY(-5px);
    box-shadow: 5px 4px 10px 3px #FADCD5;
}

.projects a {
    display: inline-block;
    align-self: flex-end;
    text-decoration: none;
    background: #fadcd5;
    padding: 10px 16px;
    margin-top: 10px;
    color: #2d222f;
    border-radius: 8px;
}

.projects a:hover{
    background: #765d67;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.contact-form {
    width: 100%;
    max-width: 600px;
}

.contact-form input,
.contact-form textarea,
.contact-form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    background-color: #fadcd5;
}

.contact-form label {
    font-size: 18px;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.contact-form button[type="reset"] {
    margin-right: 10px;
    background: #1B0C1A;
    color: #fadcd5;
    font-weight: bold;
}

.contact-form button[type="submit"] {
    background: #fadcd5;
    color: #2d222f;
    font-weight: bold;
}

.contact-form button:hover {
    background: #765d67;
}

@media screen and (max-width: 1024px) {
    .projects {
        padding: 18px;
    }
}

@media screen and (max-width: 768px) {
    .aboutMe {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .projects {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards {
        gap: 14px;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }

}
