@import url(base.css);

h2 {
    font-size: 34px;
}

.subject {
    margin-bottom: 16px;
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(220px, 1fr));
    gap: 20px;
}

.card {
    border: 1px solid;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-rows: auto 180px 1fr auto;
    gap: 12px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card p {
    line-height: 1.5;
}

.card-span {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
    flex-wrap: wrap;
}

.card-span span {
    background: #765d67;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 14px;
}

.card:hover {
    transition: 0.3s;
    transform: translateY(-5px);
    box-shadow: 5px 4px 10px 3px #FADCD5;
}

.projects a {
    display: inline-block;
    align-self: flex-end;
    text-decoration: none;
    background: #fadcd5;
    padding: 10px 16px;
    margin-top: 10px;
    color: #2d222f;
    border-radius: 8px;
}

.projects h3 {
    text-align: center;
    margin-top: 28px;
}


@media screen and (max-width: 1024px) {
    .projects {
        padding: 18px;
    }

}

@media screen and (max-width: 768px) {
    .cards {
        gap: 14px;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }

    h2 {
        font-size: 28px;
    }
}
